
div#apple_friend {
    float: left;
    font-size: 12px;
    list-style: outside none none;
    margin: 5px 0 0 5px;
    padding: 0;
}
div#apple_link ul {
    list-style: outside none none;
    margin: 5px 5px 0;
    padding: 0;
}
div#apple_link ul li {
    float: left;
    list-style-type: none;
    padding-right: 10px;
    text-align: left;
}
a.apple_link:link {
    color: #000;
    font-size: 12px;
    text-decoration: none;
}
a.apple_link:visited {
    color: #000;
    font-size: 12px;
    text-decoration: none;
}
a.apple_link:hover {
    color: #9f4d15;
    font-size: 12px;
    text-decoration: underline;
}
a.apple_guide:link {
    color: #000000;
    font-size: 12px;
    line-height: 24px;
    text-decoration: none;
}
a.apple_guide:visited {
    color: #000000;
    font-size: 12px;
    line-height: 24px;
    text-decoration: none;
}
a.apple_guide:hover {
    color: #ff6600;
    font-size: 12px;
    line-height: 24px;
    text-decoration: underline;
}
a.apple_newslist:link {
    color: #333333;
    font-size: 12px;
    line-height: 24px;
    text-decoration: none;
}
a.apple_newslist:visited {
    color: #333333;
    font-size: 12px;
    line-height: 24px;
    text-decoration: none;
}
a.apple_newslist:hover {
    color: #9f4d15;
    font-size: 12px;
    line-height: 24px;
    text-decoration: underline;
}
div#apple_newsmenu li {
    list-style-type: none;
    padding-bottom: 2px;
    padding-top: 2px;
}
a.apple_newsmenubig:link {
    color: #333333;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
}
a.apple_newsmenubig:visited {
    color: #333333;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
}
a.apple_newsmenubig:hover {
    color: #9f4d15;
    font-size: 12px;
    font-weight: bold;
    text-decoration: underline;
}
a.apple_newsmenusmall:link {
    color: #333333;
    font-size: 12px;
    text-decoration: none;
}
a.apple_newsmenusmall:visited {
    color: #333333;
    font-size: 12px;
    text-decoration: none;
}
a.apple_newsmenusmall:hover {
    color: #9f4d15;
    font-size: 12px;
    text-decoration: underline;
}
a.apple_productlist:link {
    color: #333333;
    font-size: 12px;
    line-height: 24px;
    text-decoration: none;
}
a.apple_productlist:visited {
    color: #333333;
    font-size: 12px;
    line-height: 24px;
    text-decoration: none;
}
a.apple_productlist:hover {
    color: #9f4d15;
    font-size: 12px;
    line-height: 24px;
    text-decoration: underline;
}
div#apple_productmenu li {
    list-style-type: none;
    padding-bottom: 2px;
    padding-top: 2px;
}
a.apple_productmenubig:link {
    color: #333333;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
}
a.apple_productmenubig:visited {
    color: #333333;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
}
a.apple_productmenubig:hover {
    color: #9f4d15;
    font-size: 12px;
    font-weight: bold;
    text-decoration: underline;
}
a.apple_productmenusmall:link {
    color: #333333;
    font-size: 12px;
    text-decoration: none;
}
a.apple_productmenusmall:visited {
    color: #333333;
    font-size: 12px;
    text-decoration: none;
}
a.apple_productmenusmall:hover {
    color: #9f4d15;
    font-size: 12px;
    text-decoration: underline;
}
.apple_everyproduct {
    border: 1px solid #cccccc;
    padding: 4px;
}
h1 {
    color: #36aee3;
    font-size: 16px;
    line-height: 24px;
    margin: 3px;
}
.input1 {
    border: 1px solid #333333;
}
#menua {
    list-style: outside none none;
    padding-left: 10px;
    width: 100%;
}
#menua li {
    float: left;
    list-style: outside none none;
    padding: 2px 10px;
}
#menua li a:link {
    color: #333333;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
}
#menua li a:visited {
    color: #333333;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
}
#menua li a:hover {
    color: #9f4d15;
    font-size: 12px;
    font-weight: bold;
    text-decoration: underline;
}
